<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
  </head>
  <body
    class="font-body z-[1] min-h-[100vh] bg-[url('/images/bgFields.jpeg')] bg-cover bg-no-repeat"
  >
    <%- include("./partials/header.ejs")%>
    <div>
      
      <div
        class="z-[2] mx-auto mb-3 mt-10 flex max-h-max max-w-max flex-col rounded-xl bg-[url('/images/sunbg.jpg')] bg-auto bg-right p-5 text-white"
      >
      <% if (locals.data) %>
        <div class="mr-24 flex flex-col p-5 pt-5">
          <div class="text-4xl"></div>
          <div class="text-base font-thin">14 Oct 2024</div>
          <div class="text-xl font-thin">Southampton</div>
        </div>
        <div class="flex items-center p-5">
          <img
            class="h-16 animate-slow-grow-shrink"
            src="/images/sunicon.png"
            alt="Sun"
          />
        </div>
        <div class="mr-24 flex max-h-max max-w-max flex-col p-5 pt-5">
          <div class="text-3xl"><%=Math.round(data.current.temp)%>&deg;C</div>
          
          <div class="text-xl font-thin"><%=data.current.weather[0].main%></div>
        </div>
        <%if (locals.error) {%>
          <div id="tag-error" class="tag-error">
            <%=error%>
          </div>
          <%}%>
      </div>
      <div class="flex items-center justify-center">
        <div>
          <form action="/Search" id="form" method="post">
            <select name="location" id="location-select"
              class="rounded-lg bg-white bg-opacity-35 p-2 text-white outline-none">
            <option class="text-black" value="so53">Chandlers Ford</option>
            <option class="text-black" value="po12">Gosport</option>
            <option class="text-black" value="po38">Donkey Sanctuary</option>
          </select>
            <button type="submit" class="rounded-lg bg-slate-900 p-2 text-white">Go</button>
        </form>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs")%>

  </body>
  <script>
  </script>
</html>
